@import "tailwindcss";

@theme {
  --color-indigo-500: #6366f1;
  --color-slate-950: #020617;
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}
